<!-- start header Section -->
<section>
  <div class="position-relative">
    <div>
      <owl-carousel-o [options]="customOptions">
        <ng-container *ngFor="let slide of slideImg">
          <ng-template carouselSlide>
            <img class="w-100 vh-100" [src]="slide.src" />
          </ng-template>
        </ng-container>
      </owl-carousel-o>
    </div>
    <div class="header position-absolute">
      <div class="header-content">
        <div>
          <h1>Hello</h1>
          <h3>This is WorkWhere</h3>
          <p>
            Lorem Ipsum is simply dummy text of the printing and typesetting
            <br />
            industry. Lorem Ipsum has been the industry's standard dum <br />
            my text ever since the 1500s
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- end header Section -->

<!-- start host place Section -->

<section class="my-5">
  <div class="host-place w-75 mx-auto">
    <div class="reverse row g-4 align-items-center justify-content-between">
      <div class="col-md-6">
        <div class="content">
          <h2>Host Your Place</h2>
          <p>
            Lorem Ipsum is simply dummy text of the printing and typesetting
            industry. Lorem Ipsum has been the industry's standard dummy text
            ever since the 1500s
          </p>

          <div
            class="average d-flex align-items-center justify-content-between"
          >
            <div class="circle">
              <p>50+</p>
            </div>
            <div class="circle">
              <p>50+</p>
            </div>
            <div class="circle">
              <p>50+</p>
            </div>
          </div>

          <div
            class="like d-flex my-4 justify-content-between align-items-center"
          >
            <h4>Would you like to join us</h4>
            <div class="position-relative">
              <button class="btn main-btn">Host Your Place</button>
              <img
                class="position-absolute arrow"
                src="./assets/images/cursor-fill.png"
              />
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="place-img">
          <img class="w-100" src="./assets/images/second.png" alt="" />
        </div>
      </div>
    </div>
  </div>
</section>
<!-- end host place Section -->

<!-- start view rooms Section -->
<section class="my-5">
  <div class="host-place w-75 mx-auto">
    <div class="row g-4 align-items-center justify-content-between">
      <div class="col-md-6">
        <div class="place-img">
          <img class="w-100" src="./assets/images/Mask group.png" alt="" />
        </div>
      </div>
      <div class="col-md-6">
        <div class="content">
          <h2>Too Many Rooms</h2>
          <p>
            Lorem Ipsum is simply dummy text of the printing and typesetting
            industry. Lorem Ipsum has been the industry's standard dummy text
            ever since the 1500s
          </p>

          <div
            class="average d-flex align-items-center justify-content-between"
          >
            <div class="circle">
              <p>50+</p>
            </div>
            <div class="circle">
              <p>50+</p>
            </div>
            <div class="circle">
              <p>50+</p>
            </div>
          </div>

          <div
            class="like d-flex my-4 justify-content-between align-items-center"
          >
            <h4>Would you like to join us</h4>
            <div class="position-relative">
              <button class="main-btn">View Rooms</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- end view rooms Section -->

<!-- start top rated places Section -->
<section></section>
<!-- end top rated places Section -->

<!-- start testmonial Section -->

<section>
  <div class="testominial">
    <owl-carousel-o [options]="cardOption">
      <ng-template carouselSlide>
        <div class="slide">
          <div class="row g-4 mx-auto">
            <div class="col-lg-4 ">
              <div class="image mx-auto"></div>
            </div>
            <div class="col-lg-8 ">
              <div class="slide-content d-flex justify-content-center h-100 flex-column">
                <h2>Mariam Mohamed</h2>
                <p>
                  Lorem Ipsum is simply dummy text of the printing and
                  typesetting industry. Lorem Ipsum has been the industry's
                  standard dummy
                </p>
              </div>
            </div>
          </div>
        </div>
      </ng-template>
      <ng-template carouselSlide>Slide 2</ng-template>
      <ng-template carouselSlide>Slide 3</ng-template>
    </owl-carousel-o>
  </div>
</section>
<!-- end testmonial Section -->


<!-- start host course  Section -->

<section class="my-5">
  <div class="host-place w-75 mx-auto">
    <div class="reverse row g-4 align-items-center justify-content-between">
      <div class="col-md-6">
        <div class="content">
          <h2>Place Your Course</h2>
          <p class="my-3">
            Lorem Ipsum is simply dummy text of the printing and typesetting
            industry. Lorem Ipsum has been the industry's standard dummy text
            ever since the 1500s
          </p>

          <div
            class="average d-flex align-items-center justify-content-between"
          >
            <div class="circle">
              <p>50+</p>
            </div>
            <div class="circle">
              <p>50+</p>
            </div>
            <div class="circle">
              <p>50+</p>
            </div>
          </div>

          <div
            class="like d-flex my-4 justify-content-between align-items-center"
          >
            <h4>Would you like to join us</h4>
            <div class="position-relative">
              <button class="btn main-btn">Post Your Course Now</button>
             
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="place-img">
          <img class="w-100" src="./assets/images/second.png" alt="" />
        </div>
      </div>
    </div>
  </div>
</section>
<!-- end host course  Section -->

