<!-- <section>
  <div class="footer ">
    <div class="brdr"></div>
    <div class="row justify-content-around align-items-center">
      <div class="col-md-4 ">
        <div class="d-flex align-items-center justify-content-center">
          <i class="fab fa-facebook fa-2x  me-3"></i>
          <i class="fab fa-github fa-2x  me-3"></i>
          <i class="fab fa-linkedin fa-2x  me-3"></i>
        </div>
      </div>
      <div class="col-md-4">
        <h2 class="text-center">Work Where</h2>
      </div>

      <div class="col-md-4 ">
        <h5>Copyright © 2024 by workwhere</h5>
      </div>
    </div>
  </div>
</section> -->
